.top-pin {
  box-sizing: border-box;
  width: 100%;
  height: var(--toolbar-height);
  padding: 0.5% 1%;
  margin-bottom: 0em;
  background-color: var(--bg-color);
  border-bottom: 1px solid rgba(var(--inactive-color));
  overflow-x: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  transition-property: border-bottom;
  transition-duration: var(--transition-fast);
  transition-timing-function: ease;
}

.top-pin > * {
  flex: 1;
}

html:not([data-scroll='0']) {
  padding-top: calc(var(--toolbar-height));
}

html:not([data-scroll='0']) *.top-pin {
  position: fixed;
  top: 0%;
  left: 0%;
  border-bottom: 1px solid rgba(var(--active-color));
}