.top-pin {
  box-sizing: border-box;
  width: 100%;
  height: var(--toolbar-height);
  padding: 0.5em 3em 0.5em 1em;
  margin-bottom: 0em;
  background-color: var(--bg-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition-property: border-bottom;
  transition-duration: var(--transition-slow);
  transition-timing-function: ease;
}

html:not([data-scroll='0']) {
  padding-top: calc(var(--toolbar-height));
}

html:not([data-scroll='0']) *.top-pin {
  position: fixed;
  top: 0%;
  left: 0%;
  border-bottom: 1px solid rgba(var(--active-color));
}