.album-group {
  border-top: 1px solid rgba(var(--hover-color));
  border-bottom: 1px solid rgba(var(--hover-color));
}

.album-group.named {
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.album-group.view {
  padding-top: 2em;
}

.albums-container.view {
  padding: 0 1%;
  display: flex;
  flex-flow: row wrap;
  column-gap: calc(var(--album-view-image-size) * 0.2);
  row-gap: calc(var(--album-view-image-size) * 0.2);
}

.albums-container.view > div {
  margin-right: 2%;
}

.albums-container.view > div:last-child {
  margin-right: 0;
}

.album-group-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--text-color));
}

.album-group-name.view {
  justify-content: flex-end;
  padding-right: 1%;
  height: 1em;
}