@import url('../../Styles/root.css');

.album-group {
  /* min-height: calc((var(--album-item-size) + 2em) * 1.04); */
  border-top: 1px solid var(--active-color);
  border-bottom: 1px solid var(--active-color);
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.album-group-items-container {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  --group-gap: calc((100% - var(--max-albums-in-row) * var(--album-item-size)) / (var(--max-albums-in-row) - 1));
  gap: var(--group-gap);
  row-gap: 2em;
}

.album-group-name {
  margin-bottom: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-color);
}