@import url('../../Styles/root.css');

.album-group {
  padding: 2%;
  border-top: 1px solid var(--active-color);
  border-bottom: 1px solid var(--active-color);
  border-collapse: collapse;
}

.album-group-items-container {
  display: flex;
  flex-wrap: wrap;
  --group-gap: calc((100% - var(--max-albums-in-row) * var(--album-item-size)) / (var(--max-albums-in-row) - 1));
  gap: var(--group-gap);
  row-gap: 2em;
}

.album-group-name {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  color: var(--text-color);
}