@import url('../../Styles/root.css');

.linebutton {
  --state-color: var(--inactive-color);
  box-sizing: border-box;
  position: relative;
  top: -0.5px;
  padding: 0.25em;
  border-top: 1px solid var(--state-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  font-size: larger;
  color: var(--state-color);
  cursor: pointer;
  transition-duration: var(--transition-fast);
  transition-timing-function: ease;
  transition-property: border-top, color;
}

.linebutton:hover {
  --state-color: var(--hover-color);
}

.linebutton-active {
  --state-color: var(--active-color);
  pointer-events: none;
}

.linebutton svg {
  width: 100%;
  height: 100%;
  transform: translateY(2px);
  fill: var(--state-color);
  transition:  fill var(--transition-fast) ease;
}

.linebutton-icon {
  width: 1em;
  height: 1em;
}