.linebutton {
  --state-color: var(--inactive-color);
  padding: 0.25em;
  border-bottom: 1px solid rgba(var(--state-color));
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  font-size: larger;
  color: rgba(var(--state-color));
  cursor: pointer;
  transition-duration: var(--transition-fast);
  transition-timing-function: ease;
  transition-property: border-top, color;
}

.linebutton:first-child {
  margin-left: 0;
}

.linebutton:last-child {
  margin-right: 0;
}

.linebutton:hover {
  --state-color: var(--hover-color);
}

.linebutton-active {
  --state-color: var(--active-color);
  pointer-events: none;
}

.linebutton svg {
  width: 100%;
  height: 100%;
  fill: rgba(var(--state-color));
  transition:  fill var(--transition-fast) ease;
}

.linebutton-icon {
  width: 1em;
  height: 1em;
}