@import url('./root.css');

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}


