:root {
    --tier-S-color: 255, 127, 126;
    --tier-A-color: 255, 191, 127;
    --tier-B-color: 255, 223, 128;
    --tier-C-color: 254, 255, 127;
    --tier-D-color: 190, 255, 127;

    --shadow-x-offset: 5px;
    --shadow-y-offset: 5px;
    --shadow-blur: 5px;
    --shadow-spread: 1px;

    --bg-color: #1a1a17;
    --dragged-over-color: 67, 67, 67;
    --text-color: 255, 255, 255;
    --inactive-color: 255, 255, 255, 0.2;
    --hover-color: 255, 255, 255, 0.4;
    --active-color: 255, 255, 255, 0.9;

    --inactive-alpha: 0.2;
    --hover-alpha: 0.6;
    --active-alpha: 0.9;

    --tool-size: 3em;
    --push-button-size: 2.5em;
    --toolbar-height: 4.5em;
    --album-item-size: 12.5em;
    --album-modal-image-size: 16em;

    --transition-fast: 300ms;
    --transition-normal: 500ms;
    --transition-slow: 1s;
    
    --max-albums-in-row: 6;
   
    --primary-color: white;
    --secondary-color: gray;
}

.S-tier {
  --tier-color: var(--tier-S-color);
}

.A-tier {
  --tier-color: var(--tier-A-color);
}

.B-tier {
  --tier-color: var(--tier-B-color);
}

.C-tier {
  --tier-color: var(--tier-C-color);
}

.D-tier {
  --tier-color: var(--tier-D-color);
}