

.album {
  box-sizing: border-box;
  width: var(--album-item-size);
  height: var(--album-item-size);
  flex: 0 var(--album-item-size);
  border: 0px;
  color: white;
  opacity: 1;
  transition-property: opacity, border, box-shadow;
  transition-duration: var(--transition-fast);
  transition-timing-function: ease;
}

.album.tiered {
  /* border: 8px solid rgb(var(--tier-color)); */
  box-shadow: var(--shadow-x-offset) var(--shadow-y-offset) var(--shadow-blur) var(--shadow-spread) rgb(var(--tier-color));
}

.album-view {
  cursor: pointer;
}

.album-draggable.dragged {
  /* border: 0px; */
  box-shadow: 0px 0px 5px 5px white;
}

.album-draggable:focus {
  outline: none;
  border: 2px solid;
  border-radius: 2px;
}

.album:hover {
  opacity: 0.5;
}

.album-image {
  width: 100%;
  height: 100%;
  transition-property: width, height;
  transition-duration: var(--transition-fast);
  transition-timing-function: ease;
}

.album-info {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 7%;
}

.album-info-fields {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.album-info-tier {
  font-size: 2em;
}

.album-info-name {
  font-size: 1em;
}

