.radio-button {
  --state-color: var(--inactive-color);
  box-sizing: content-box;
  width: var(--tool-size);
  height: var(--tool-size);
  padding: 0.25em;
  margin-right: 1em;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--state-color);
  cursor: pointer;
  transition-duration: var(--transition-fast);
  transition-timing-function: ease;
  transition-property: color, border;
}

.radio-button:last-child {
  margin-right: 0;
}

.radio-button:hover {
  --state-color: var(--hover-color);
  border: 1px solid var(--state-color);
  border-radius: 50%;
}

.radio-button.active {
  --state-color: var(--active-color);
  pointer-events: none;
}

.radio-button svg {
  width: 100%;
  height: 100%;
  fill: var(--state-color);
  transition:  fill var(--transition-fast) ease;
}