.radio-button {
  --state-color: var(--inactive-color);
  --border-size: 1px;
  box-sizing: border-box;
  width: calc(var(--tool-size) + var(--border-size));
  height: calc(var(--tool-size) + var(--border-size));
  padding: 0.5em;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(var(--state-color));
  cursor: pointer;
  transition-duration: var(--transition-fast);
  transition-timing-function: ease;
  transition-property: color, border;
}

.radio-button:hover {
  --state-color: var(--hover-color);
  border: 1px solid rgba(var(--state-color));
  border-radius: 50%;
  width: calc();
}

.radio-button.active {
  --state-color: var(--active-color);
  pointer-events: none;
}

.radio-button svg {
  width: var(--tool-size);
  height: var(--tool-size);
  fill: rgba(var(--state-color));
  transition:  fill var(--transition-fast) ease;
}