:root {
    --rank-s-color: #ff7f7e;
    --rank-a-color: #ffbf7f;
    --rank-b-color: #ffdf80;
    --rank-c-color: #feff7f;
    --rank-d-color: #beff7f;
}

body {
    background-color: #1a1a17;
}

.item-group {
    position: relative;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.item-group-name {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.modal-div {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.album {
    width: 200px;
    height: 200px;

    border: 1px solid white;
}

.album-close {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    height: 600px;
}