.tierlist-header {
  height: 100%;
  margin: 0;
}

.tierlist-header-S {
  color: rgb(var(--tier-S-color));
}

/* .tierlist-header-a {
  color: var(--tier-A-color);
} */

/* .tierlist-header-zz {
  font-size: 1.25em;
} */