@import url('../../Styles/root.css');

.tierlist-header {
  /* text-align: center; */
}

.tierlist-header-S {
  color: var(--tier-S-color);
}

/* .tierlist-header-a {
  color: var(--tier-A-color);
} */

/* .tierlist-header-zz {
  font-size: 1.25em;
} */