:root {
  --tier-S-color: #ff7f7e;
  --tier-A-color: #ffbf7f;
  --tier-B-color: #ffdf80;
  --tier-C-color: #feff7f;
  --tier-D-color: #beff7f;
}

body {
  background-color: #1a1a17;
}

.item-group {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 5%;
  padding-block: 2%;
  gap: 2em;
  position: relative;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.item-group

.item-group-name {
  position: absolute;
  right: 4%;
  bottom: 2.5%;
  color: white;
}

.modal-div {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.album {
  display: block;
  width: 200px;
  height: 200px;

  color: white;

  /* box-shadow: 4px 4px 0px 0px var(--tier-s-color); */
}

.album-close {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 600px;
  height: 600px;
}