:root {
  --tier-S-color: #ff7f7e;
  --tier-A-color: #ffbf7f;
  --tier-B-color: #ffdf80;
  --tier-C-color: #feff7f;
  --tier-D-color: #beff7f;
}

body {
  background-color: #1a1a17;
}

.tier-list {
  width: 100%;
  height: 100%;
  color: white;
}

.tier-list-header {
  text-align: center;
  margin-block-start: 0.5em;
  margin-block-end: 0;
  padding-block-end: 0.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.tier-list-mode-buttons-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -1px;
  width: min-content;
  margin-block-end: 1em;
  display: flex;
  gap: 2em;
}

.tier-list-mode-button {
  text-align: center;
  cursor: pointer;
  width: 7em;
  height: 1.5em;
  padding-block-start: 1em;
}

.tier-list-mode-button-active {
  border-top: 1px solid white;
}

.tier-list-mode-icon {
  width: 1em;
  height: 1em;
  transform: translateY(15%);
}

.tier-list-mode-text {
  display: inline-block;
  margin-left: 0.5em;
}

.group-view-container {
  width: 80%;
  height: 80%;
  margin: auto;
}

.item-group {
  position: relative;
  padding: 2%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.item-group-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2%;
}

.item-group-name {
  position: absolute;
  left: 96%;
  top: 90%;
  color: white;
}

.album-item {
  position: relative;
  box-sizing: content-box;
  width: 12.5em;
  height: 12.5em;
  color: white;
}

.album-item-image {
  width: 100%;
  height: 100%;
}

.album-item-image-hover {
  opacity: 0.5;
}

.album-item-info {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 7%;
}

.album-item-info-fields {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.album-item-info-tier {
  font-size: 2em;
}

.album-item-info-name {
  font-size: 1em;
}

.modal-div {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex;
  align-items: center;
  justify-items: center; */
}

.screen-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.album-close {
  width: 600px;
  height: 600px;
}