:root {
  --tier-S-color: #ff7f7e;
  --tier-A-color: #ffbf7f;
  --tier-B-color: #ffdf80;
  --tier-C-color: #feff7f;
  --tier-D-color: #beff7f;
  --bg-color: #1a1a17;
  --text-color: white;
  --inactive-color: gray;
  --active-color: white;
}

body {
  background-color: var(--bg-color);
}

.modal-div {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
