

.button-group-line {
  box-sizing: border-box;
  width: 99%;
  padding-left: 3em;
  padding-right: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  border-top: 1px solid rgba(var(--inactive-color));
}